# SwasthyaBhandhu - Environment Variables Template
# Copy this file to .env and add your actual API keys

# Groq AI API Key
GROQ_API_KEY=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


# ElevenLabs Agent ID
ELEVENLABS_AGENT_ID="https://elevenlabs.io/app/talk-to?agent_id=agent_8301kagt7x3mfx7t515njgbvzrx7"
